@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.grid {
  display: grid;
  gap: $space-3;
}

.grid--experiences {
  grid-template-columns: 1fr;

  @include from(620px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include from(1000px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid--categories {
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include from(700px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.grid--hosts {
  @include from(700px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.grid--two {
  @include from(760px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.grid--dashboard {
  @include from(760px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include from(1100px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
